body{
  font-family: arial;
  background-color: #fff7e5;
  font-size: 11pt;
}

h1{
  font-family: Louise;
  font-size: 18pt;
  line-height: 18pt;
}

ul {
  list-style: none;
  padding: 10px;
}

a {
  color: black;
}

button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
  width: 100%;
}

.show-mobile{
  display: none;
}

/* layout elements*/

.nav-panel {
   position: fixed;
   display: flex;
   width: 20vw;
   padding: 0.5vw;
   height: 100vh;
   border-right: solid black 1px;
 }
 
.button-wrap {
  width: 19vw;
  position: fixed;
  bottom: 0.5vw;
  display: flex;
  flex-direction: column;
}

.project-wrap {
  margin-left: 21vw;
  padding: 10px;
}

/*introduction elements*/

.introduction{
  position: relative;
  height:78vh;
  display: flex;
  justify-content: flex-end;
}

.introduction-hd{
  position: absolute;
  right: 0;
  bottom:0;
  width: 78vw;
}

.introduction-dd {
  position: absolute;
  right: 0;
  bottom:0;
  width: 78vw;
}

.bio{
  position: fixed;
  width: 19vw;
  top: 0.5vw;
}

/* project elements */

.image1{
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
  background-color: cornflowerblue;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, .2);
}

.project-copy{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 20px;
}

.project-copy-left {
  display: flex;
  flex-direction: row;
  width: 40%;
  align-items: center;
  justify-content: space-between;
}

.link {
  color: #000;
  text-align: center;
  background-color: #1f0;
  border-radius: 10px;
  padding: 5px;
  text-decoration: none;
}


*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@media screen and (max-width: 600px) {
  .hide-mobile{
    display: none;
  }

  .show-mobile{
    display: static;
  }
  /*introduction and layout items*/
  .introduction{
    width: 99vw;
  }

  .introduction-hd{
    width: 100vw;
  }
  
  .introduction-dd {
    width: 100vw;
  }

  .bio {
    position: static;
    width: 99vw;
  }

  .project-wrap {
    margin-left: 0;
    padding: 2px;
  }
 /*nav panel and buttons*/
  .nav-panel {
    flex-direction: row;
    width: 100vw;
    height: 10%;
  }
  button {
    width: 12vw;
    border-radius: 0px;
  }
  .button-wrap {
    flex-direction: row;
    border-radius: 10px;
  }

  /*projects*/
  .project-copy {
    flex-direction: column;
    align-items: flex-start;
  }

  .link {
    height: 20px;
    margin-left: 0;
  }

  .project-description {
    padding-top: 5px;
    padding-bottom: 5px;
  }





}

@font-face {
  font-family: "Louise";
  src: local("Loise"),
    url("./font/Louise.otf") format("truetype");
}

